<!DOCTYPE html>
<html>
<head>
<title>Internal  list</title>
</head>

<body style="background-color: #f4f1eb">

<%=yield%>
<a href="/search"> Go search page </a><br>
<a href="/"> Go to home page</a><br>
<a href="/make_employee"> New addition to database<a><br>
<a href="/all"> See all current enemies </a>
</body>

</html>