<h1> Please input the relevant details below </h1>

<form action="/new_joiner" method="post">
<input type="text" name="name" placeholder="New Joiner name here"><br>
<input type="text" name="title" placeholder="title"><br>
<input type="text" name="department" placeholder="department"><br>
<input type="text" name="experience" placeholder="experience"><br>
<input type="text" name="useful" placeholder="useful"><br>
<input type="text" name="salary" placeholder="salary"><br>
<input type="submit" value="Enter new employees details">
</form>
