<h1> Welcome to Bank's search page </h1>
<form action='/found_person' method='post'> 
<input type="text" name="search_name" placeholder="Search by NAME ONLY"><br>
<input type="submit" value="submit">
</form>


<form action='/found_department' method="post"> 
<input type="text" name="search_department" placeholder="Search by Department ONLY"><br>
<input type="submit" value="submit">
</form>

<form action='/found_title' method="post"> 
<input type="text" name="search_title" placeholder="Search by title ONLY"><br>
<input type="submit" value="submit">
</form>

